<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Cars and Cats</title>
    <link rel='stylesheet' type='text/css' href='/stylesheet/style.css'>
</head>
<body>

    <h2>CARS</h2>
    <main>
        <section class="0">
            <img src="/images/car1.gif">
        </section>
        <section class="1">
            <img src="/images/car2.gif">
        </section>
        <section class="2">
            <img src="/images/car3.gif">
        </section>
    </main>

</body>
</html>